.education {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.education > h2 {
  text-align: start;
}

.education > ul {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.education > ul > li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}