.education-item {
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  column-gap: 10px;
}

.education-item-input {
  display: flex;
  gap: 20px;
}

.school {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.degree {
  grid-row: 2 / -1;
  grid-column: 1 / 2;
}

.year {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  justify-self: end;
}