.work-experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.work-experience > ul {
  list-style: none;
}

.work-experience > ul > li {
  display: flex;
  gap: 20px;
}