#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  min-width: 400px;
  max-width: 1000px;
  width: 800px;
  padding: 20px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.section {
  min-width: 300px;
  width: 90%;
  display: flex;
  justify-content: center;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: start;
}